@import './utils/vars';
@import './base/reset';
@import './utils/placeholders';
@import './utils/mixin';
@import './base/common';
@import './utils/hidden';

@import './components/btn';
@import './components/container';
@import './components/section';
@import './components/modal';

@import './layouts/header';
@import './layouts/hero';
@import './layouts/benefits';
@import './layouts/activity';
@import './layouts/team';
@import './layouts/regular-customer';
@import './layouts/footer';

// portfolio 

@import './layouts/portfolio-list';
