.activity__title,
.team-title,
.regular-customers-title {
    margin-bottom: 30px;

    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
    }

    @include font(700, 36px, 1.17, center, 0.03em);
    color: var(--title-color);
}