:root {
    --title-color: #212121;
    --item-text-color: #757575;
    --hover-color: #2196f3;
    --hover-btn-color: #188CE8;
    --hover-portfolio-button-color: #ffffff;
    --text-footer-color: #ffffff;
    --hero-footer-background-color: #2f303a;
    --main-btn-color: #ffffff;
    --team-background-color: #f5f4fa;
    --team-item-background-color: #ffffff;
    --web-logo-color: #2196f3;
    --studio-header-logo-color: #000000;
    --studio-footer-logo-color: #ffffff;
    --portfolio-button-color: #212121;
    --typical-lh: 1.19;
    --main-font: "Raleway", sans-serif;
    --icon-color: #afb1b8;
    --bg-gradient: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
}